<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sln_Proeis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

   
    <add key="CAMINHO_IMAGENS_NOTICIAS" value="Home/New/Uploads/Noticias/" />
    
    <add key="CAMINHO_IMAGENS_BANNERS" value="Home/New/Uploads/Banners/" />
    
     <add key="CAMINHO_IMAGENS_VIDEOS" value="Home/New/Uploads/Videos/" />
    
    <!-- PADRÃO 1 DO ID DO SISTEMA PORTAL DO GOVERNO-->
     <add key="vSISTEMA" value="1" />

    <add key="vUNIDADE" value="100"/>
    <!-- PADRÃO 1 ID DO GOVERNADOR-->
    
    <!-- PADRÃO 1 ID DO GOVERNADOR-->
    <add key="vPESSOA" value="92" /> 
    
    
    
    


    
	  <!-- PRODUCAO  -->
	    <add key="cn" value="Server=10.9.57.46;Database=SKN;User Id=SKN_urd1;Password=Sknhke112;" />
    
     <!-- HOMOLOGACAO  
	    <add key="cn" value="Server=cardeal_h;Database=SKN;User Id=SKN_urd1;Password=Skndge902;" />-->



    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="62090;True;8208;1;-8587199657251346402" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <httpRuntime requestValidationMode="2.0" />

    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

  
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web>
    <!--<customErrors mode="Off" />-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Default.aspx" />-->
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <!--<error statusCode="302" redirect="~/Home/Error"></error>-->
      <error statusCode="403" redirect="Error.aspx"></error>
      <error statusCode="404" redirect="Error.aspx"></error>
      <error statusCode="500" redirect="Error.aspx"></error>
    </customErrors>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
  </system.web>
  
  <system.webServer>
  <staticContent>
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  </staticContent>
</system.webServer>
  
  <applicationSettings>
    <Sln_Proeis.Properties.Settings>
      <setting name="Sln_Proeis_GTC_Ws_Web_Service_Proderj___GTC" serializeAs="String">
        <value>http://10.14.0.22/gtcws/gtc/GtcWsServer.php</value>
      </setting>
      <setting name="Sln_Proeis_GTC_Ws1_Web_Service_Proderj___GTC" serializeAs="String">
        <value>http://10.14.0.22/gtcws/gtc/GtcWsServer.php</value>
      </setting>
      <setting name="Sln_Proeis_SISPES_Ws_Web_Service_Proderj___SISPES" serializeAs="String">
        <value>http://www.wsproeis.proderj.rj.gov.br/wssispes/WServer.php</value>
      </setting>
    </Sln_Proeis.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>